﻿@inject PostStorage postStorage

@if (showAddPostError)
{
    <div class="alert alert-danger" role="alert">
        @addPostErrorText
    </div>
}

<EditForm Model="newPost" OnValidSubmit="AddPostExecute">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="title">Title</label>
        <InputText id="title" class="form-control" placeholder="Enter Title"
                   @bind-Value="newPost.Title"></InputText>
        <ValidationMessage For="@(() => newPost.Title)" />
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <InputTextArea id="content" class="form-control" placeholder="Enter Content" @bind-Value="newPost.Content"></InputTextArea>
        <ValidationMessage For="@(() => newPost.Content)" />
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</EditForm>

@code {
    [Parameter]
    public Action<SampleBlazorClient.Models.Post> Inform { get; set; }
    private SampleBlazorClient.Models.Post newPost = new();
    private bool showAddPostError = false;
    private string addPostErrorText = string.Empty;

    private async Task AddPostExecute()
    {
        showAddPostError = false;

        var post = await postStorage.Add(newPost);

        if (post is null)
        {
            addPostErrorText = "Something went wrong try again later!";
            showAddPostError = true;
            return;
        }

        Inform(post);
        newPost = new();
    }
}
