﻿
<button class="btn btn-sm btn-outline-light" type="button" onclick=@(()=> toggleVis())>
    
    @if (isVisible)
    {
        @ButtonContentWhenVisible
    }
    else
    {
        @ButtonContentWhenCollapsed
    }
</button>

@if (isVisible)
{
    <div>
        @foreach (var comment in Items)
        {
            <div class="mt-3">
                @comment
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<RenderFragment> Items { get; set; }
    [Parameter]
    public string ButtonContentWhenVisible { get; set; } = "Hide";
    [Parameter]
    public string ButtonContentWhenCollapsed { get; set; } = "Show";
    private bool isVisible = false;

    private void toggleVis()
    {
        isVisible = !isVisible;
        StateHasChanged();
    }
}
