﻿<div id="message(@Id)" class="card mb-3 @Class">
    @foreach (var render in BodyRender)
    {
        @render
    }
</div>

@code {
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public IEnumerable<RenderFragment> BodyRender { get; set; } = new RenderFragment[0];
    [Parameter]
    public string Class { get; set; } = "card mb-3 bg-dark text-white";
}
