﻿<div class="card-body @Class">
    <p class="card-text">@Item.Content</p>
    <p class="card-text"><small class="text-info">@Item.Creator?.Nick @Item.CreatedDate.ToShortDateString()</small></p>
    @if (Item.Components is not null && Item.Components.Count() > 0)
    {
        <div>
            <CollapseComponent ButtonContentWhenVisible="Hide replies" ButtonContentWhenCollapsed="Show replies" 
            Items=@(Item.GetComponentsRenders("bg-secondary text-white"))></CollapseComponent>
        </div>
    }
</div>



@code {
    [Parameter]
    public SampleBlazorClient.Models.Message Item { get; set; }
    [Parameter]
    public string Class { get; set; } = "bg-dark text-white";
}
