﻿@inherits LayoutComponentBase
@inject AuthService AuthService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="mx-4">@context.User?.FindFirst(ClaimTypes.Name)?.Value</span>
                    <button class="btn btn-secondary mr-5" onclick=@(()=> Logout())>Logout</button>
                </Authorized>
                <NotAuthorized>
                    Unauthorized
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    async void Logout()
    {
       await AuthService.Logout();
    }
}
