﻿@page "/account"

@inject AccountStorage accountStorage

<AuthorizeView>
    <Authorized>
        <h3>Hello @context.User?.FindFirst(ClaimTypes.Name)?.Value</h3>
        <ul class="list-group mb-2">
            <li class="list-group-item active">You are:</li>
            @foreach (var role in context.User?.FindAll(ClaimTypes.Role))
            {
                <li class="list-group-item">@role.Value</li>
            }
        </ul>
        @if (loggedUser == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Nick:</th>
                        <td>@loggedUser.Nick</td>
                    </tr>
                    <tr>
                        <th scope="row">Username:</th>
                        <td>@loggedUser.Username</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>@loggedUser.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Description:</th>
                        <td>@loggedUser.Description</td>
                    </tr>
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        You are not logged in. In order to see account's details you need to login.
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }
    private SimplifiedUser loggedUser;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
            return;
        loggedUser = await accountStorage.Get();
    }
}
