﻿@page "/"

@inject PostStorage postStorage
@using SampleBlazorClient.Components

<PageTitle>Posts</PageTitle>

<h1 class="mb-4">All posts</h1>

@if (posts == null)
{
    <div class="spinner-border" role="status"></div>
}
else
{
    @foreach (var post in posts)
    {
        @(post.CreateDynamicComponent("bg-dark text-white"))
    }
}

<AuthorizeView>
    <Authorized>
        <AddPost Inform=@newPost></AddPost>
    </Authorized>
    <NotAuthorized>
        <p>Login in order to add post</p>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code {
    //with IEnumerable stateHasChange is not rerendering page
    public List<SampleBlazorClient.Models.Post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = (await postStorage.GetAll()).ToList();
    }

    public void newPost(SampleBlazorClient.Models.Post post)
    {
        //with prepend page does not rerender
        //posts.Prepend(post);
        posts.Add(post);
        posts = posts.OrderByDescending(p => p.Id).ToList();
        StateHasChanged();
    }
}
