﻿@page "/login"
@page "/login/{logout}"

@inject AuthService AuthService
@inject NavigationManager NavManager;

<h3>Login</h3>

@if (showAuthError)
{
    <div class="alert alert-danger" role="alert">
        @authErrorText
    </div>
}

<EditForm Model="credentials" OnValidSubmit="LoginExecute">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" placeholder="Enter Username"  @bind-Value="credentials.Username"></InputText>
        <ValidationMessage For="@(() => credentials.Username)"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" placeholder="Enter Password"  @bind-Value="credentials.Password"></InputText>
        <ValidationMessage For="@(() => credentials.Password)"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private Credentials credentials = new();
    private bool showAuthError = false;
    private string authErrorText = string.Empty;

    [Parameter]
    public string Logout { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if(!string.IsNullOrEmpty(Logout))
        {
            authErrorText = "You have been logout.";
            showAuthError = true;
            await AuthService.Logout();
        }
    } 

    private async Task LoginExecute()
    {
        showAuthError = false;

        var result = await AuthService.Login(credentials);

        if (result.Item2 == 200)
            NavManager.NavigateTo("/");
        else
        {
            if(result.Item2 == 401)
                authErrorText = "Invalid credentials";
            else
                authErrorText = "Unknown error. Check your internet connection and try again later.";
                showAuthError = true;
        }
    }
}
