﻿@page "/register"

@inject AuthService AuthService
@inject NavigationManager NavManager;

<h3>Register</h3>

@if (showRegisterError)
{
    <div class="alert alert-danger" role="alert">
        @registerErrorText
    </div>
}

<EditForm Model="registerContainer" OnValidSubmit="RegisterExecute">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="nick">Nick</label>
        <InputText id="nick" class="form-control" placeholder="Enter Nick"
                   @bind-Value="registerContainer.Nick"></InputText>
        <ValidationMessage For="@(() => registerContainer.Nick)" />
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" placeholder="Enter Username" @bind-Value="registerContainer.Username"></InputText>
        <ValidationMessage For="@(() => registerContainer.Username)" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" type="email" class="form-control" placeholder="Enter Email"
                   @bind-Value="registerContainer.Email"></InputText>
        <ValidationMessage For="@(() => registerContainer.Nick)" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" placeholder="Enter Password"
                   @bind-Value="registerContainer.Password"></InputText>
        <ValidationMessage For="@(() => registerContainer.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private RegisterContainer registerContainer = new();
    private bool showRegisterError = false;
    private string registerErrorText = string.Empty;

    private async Task RegisterExecute()
    {
        showRegisterError = false;

        var result = await AuthService.Register(registerContainer);

        if (result.Item2 == 200)
            NavManager.NavigateTo("/login");
        else
        {
            registerErrorText = result.Item1;
            showRegisterError = true;
        }
    }
}
